<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <title>Pelilandia</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="container">
    <header class="header"><img class="logo" src="/logo.png" alt="" /></header>
    <nav class="navbar">
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Generos</a></li>

        </ul>
    </nav>
    <main class="main">

        <!-- <div class="main-container">
        <a href=""><img class="main-movie"src="/imgpeli/acusada.jpg" alt="" /></a>
      </div>
      <div class="main-container">
        <a href=""><img class="main-movie"src="/imgpeli/ad-astra.jpg" alt="" /></a>
      </div>
      <div class="main-container">
        <a href=""><img class="main-movie"src="/imgpeli/ant-man.jpg" alt="" /></a>
      </div>
      <div class="main-container">
        <a href=""><img class="main-movie"src="/imgpeli/aquaman.jpg" alt="" /></a>
      </div>
      <div class="main-container">
        <a href=""><img class="main-movie"src="/imgpeli/escuadron-6.jpg" alt="" /></a>
      </div> -->

    </main>

    <footer class="footer"></footer>
</body>

</html>